.img-p {
	margin-top: 20px;
}

.text-name {
	margin-top: 50px;
	font: 100 3em 'Roboto', sans-serif;
}

.text-position {
	font: 500 2em 'Roboto', sans-serif;
}

hr {
	border: 2px solid #a0a0a0;
}

.featuredWork {
	color: #bcbbbb;
	font: 400 2em 'Roboto', sans-serif;
}

.featuredWorkTitle {
	color: #747704;
}

h6 {
	margin-bottom: 1px;
}

ul {
	list-style-type: circle;
}